{% extends 'bootstrap.html' %}
{% load staticfiles %}

{% load bootstrap3 %}
{% block bootstrap3_content %}
<!doctype html>
    <html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %} :: MyProject</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="{{ STATIC_URL }}libs/html5shiv.js"><\/script>')</script>
        <![endif]-->
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" />
    </head>
    <body class="container">
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">Questionnaire App</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/">Link1</a></li>
              <li><a href="/">Link2</a></li>
              <li><a href="/">Link3</a></li>
              <li><a href="/">Link4</a></li>
              <li><a href="/">Link5</a></li>
            </ul>
          </div>
        </nav>
        {% block content %}
        <div class="row">
        	<input type="text" style="width:40%" id="question" placeholder="Enter your question">
    <button id = "submit" type="submit" class="btn btn-primary">
      Submit
    </button>
    <ul id ="answers" style="color: red"></ul>
    </div>
    <div class="row">
    </div>
    <div class="row">
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Add New Question</button>

          <div id="demo" class="collapse out row">
            <input type="text" style="width:20%" id="add_question" placeholder="Enter your question">
           <input type="text" style="width:25%" id="add_answer" placeholder="Enter your answer">
            <button id = "save_answer" type="submit" class="btn btn-primary">
          Save Answer
            </button> 
            <div id="result_add_question" style="color: red"></div>
          </div>
    </div>
        {% endblock %}



 <script type="text/javascript">
    $("#submit").click(function(){
        $.get( "/app/api/PredictionApi"+'?query='+ $("#question").val(), function( data ) {
        		if (data.error){
        			$('#answers').text('No prediction available');
        			return
        		}
        		if (data.answers.length==0){
        				$('#answers').text('No prediction available');
        				return;
        		}
        		$('#answers').empty();
        		$('#answers').append('<span class="tab">Predicted answers</span>');
		        data.answers.forEach(function(item) {
			    	$('#answers').append('<li><span class="tab">'+ item+'</span></a></li>');
				});
			});
    });
    $("#save_answer").click(function(){''
        $.post( "/app/api/PredictionApi", { question: $('#add_question').val(), answer: $('#add_answer').val() })
          .done(function( data ) {
            if (data.result){
                $('#result_add_question').text('New question has been added');
            }
          });
        });

</script>

</body>
</html>
{% endblock %}

